<div class="container container-regular-size my-5">
  <div class="row align-items-center margin-set">
    <div class="row">
      <div class="col-2">*: required field</div>
      <div class="col text-center fs-4">
        Please Input Your Expense
      </div>
    </div>
    {{> message}}
    <form class="row" action="/expense" method="post">
      <div class="row">
        <label for="name" class="form-label col-2 fs-5">Name*:</label>
        <input type="text" class="form-control col" placeholder="Please input the cost name" name="name" id="name"
          value="{{expense.name}}" required>
      </div>
      <div class="row">
        <label for="date" class="form-label col-2 fs-5">Date*:</label>
        <input type="date" class="form-control col" name="date" value="{{expense.date}}" id="date">
      </div>
      <div class="row">
        <label for="categoryId" class="form-label col-2 fs-5">Category*:</label>
        <select class="form-select col" id="categoryId" name="categoryId" required>
          <option selected>Select</option>
          <option value="1" {{selected expense.categoryId '1' }}>Home Property</option>
          <option value="2" {{selected expense.categoryId '2' }}>Transportation</option>
          <option value="3" {{selected expense.categoryId '3' }}>Entertainment</option>
          <option value="4" {{selected expense.categoryId '4' }}>Food</option>
          <option value="5" {{selected expense.categoryId '5' }}>Others</option>
        </select>
      </div>
      <div class="row">
        <label for="amount" class="form-label col-2 fs-5">Amount*:</label>
        <input type="text" class="form-control col" placeholder="Please input the amount" name="amount" id="amount"
          value="{{expense.amount}}" required>
      </div>
      <div class="row style-submit justify-content-end">
        <button type="submit" class="btn btn-primary col-10">Submit</button>
      </div>
    </form>
  </div>

</div>